.heroSection{
    width: 100%;
    background-color: #EB5E28;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    padding: 30px 0px 30px 0px;
}

.heroText h2{
    color: #fff;
    font-size: 70px;
    margin: 5px;
    padding: 5px;
}

.heroText p{
    color: #252422;
    font-size: 20px;
}

.heroImage img{
    width: 500px;
    height: auto;
}



/* SAVE ON ONE SECTION */
.saveOnOneChainSection{
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
}

.saveOnOneSectionText h3{
    color: #252422;
    font-size: 42px;
    font-weight: 500;
}

.saveOnOneSectionText p {
    color: #252422;
    font-size: 20px;
}

.saveOnOneSectionImage img{
    width: 500px;
    height: auto;
}

/* BEE DISCOURGED SECTION */

.beDiscouragedSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252422;
    font-family: 'Space Grotesk', sans-serif;
    padding: 60px 100px;
}

.beDiscouragedSectionText h3{
    color: #EB5E28;
    font-size: 42px;
    font-weight: 500;
}

.beDiscouragedSectionText p{
    color: #fff;
    font-size: 20px;
}

.beDiscouragedSectionImage img{
    width: 500px;
    height: auto;
}